/*------------------------------------*\
  #CORE ELEMENTS
\*------------------------------------*/

* {
    box-sizing: border-box;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: $spacing-none;
    padding: 2rem;
    font-family: $font-family-sans-serif;
    font-size: $font-size-little;
    line-height: $line-height-default;
    background-color: $app-bg;
    color: $main-color;
    list-style: none;
    text-align: justify;
}

/*------------------------------------*\
  #HEADERS
\*------------------------------------*/
.header-main{
    grid-area: header;
    margin-bottom: $spacing-medium;
}

.header-ingredients{
    grid-area: headeringredients;
}

.header-welcome{
  grid-area: headerwelcome;
}

/*------------------------------------*\
  #IMAGE
\*------------------------------------*/
.image{
    width: $img-regular-size;
}

.image-welcome{
  grid-area: imagewelcome;
}

.footer{
  text-align: center;
  grid-area: footer;
  padding: 25px;
}

/*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
\*------------------------------------*/

/*------------------------------------*\
  #TABLET
\*------------------------------------*/
@media(min-width: $tablet-mq){
    .body {
        display: grid;
        grid-template-columns: $grid-column-default $grid-column-default;
        grid-template-areas:
          "header header"
          "headerwelcome headeringredients"
          "welcome presentation"
          "imagewelcome slider"
          "recipe recipe"
          "faq faq"
          "footer footer";
        gap: $gap-default;
    }
}

/*------------------------------------*\
  #DESKTOP
\*------------------------------------*/
@media(min-width: $desktop-mq){
    .body {
        display: grid;
        grid-template-columns: $grid-column-default $grid-column-default;
        grid-template-areas:
          "header header"
          "headerwelcome headeringredients"
          "welcome presentation"
          "imagewelcome slider"
          "recipe faq"
          "footer footer";
        gap: 16px;
    }
}