/*------------------------------------*\
  #LISTS
\*------------------------------------*/

.unordered-list{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__counter{
        font-family: $font-family-stick;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }
}