/*------------------------------------*\
  #TITLES
\*------------------------------------*/

.title {
    font-family: $font-family-stick;
    text-align: center;

    &--large { 
        color: $main-red;
        font-size: $title-large;
        letter-spacing: 2px;
        text-shadow: 3px 3px 0px black; 
    }
  
    &--regular { 
        font-size: $title-regular;
    }

    &--small { 
        text-align: justify;
        font-size: $title-small;
    }

    &::before {
        content: "";
        position: absolute;
        width: $full-width;
        height: 50%;
        top: 0;
        right: 0;
        background: url('../images/brush_stroke.svg') no-repeat center;
        z-index: -1; 
    } 
}

/*------------------------------------*\
  #TABLET
\*------------------------------------*/
@media(min-width: $tablet-mq){
    .title {  
        &--large { 
            font-size: $title-large-tablet-desktop;
        }
    }
}

/*------------------------------------*\
  #DESKTOP
\*------------------------------------*/
@media(min-width: $desktop-mq){
    .title {  
        &--large { 
            font-size: $title-large-tablet-desktop;
        }
    }
}
