@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$main-color: #3B3030;
$secondary-color: #FFF0D1;
$uoc-bg: color.scale($secondary-color, $lightness: 70%);

$img-regular-size: 600px;

$mqMinWidth: 420px;
