@use "sass:color";

/*------------------------------------*\
  #FONT-FAMILY
\*------------------------------------*/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-stick: "Stick", sans-serif;

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$main-color: #3B3030;
$secondary-color: #FFF0D1;
$main-green:#B5C18E;
$main-red: #ff2a00;

$list-bg: color.scale($main-green, $lightness: 75%);
$app-bg: color.scale($secondary-color, $lightness: 50%);

/*------------------------------------*\
  #SIZES
\*------------------------------------*/
$img-regular-size: 100%;
$border-radius: 10px;

$desktop-mq: 1024px;
$tablet-mq: 768px;

$title-large: 6rem;
$title-large-tablet-desktop: 8rem;
$title-regular: 2rem;
$title-small: 1rem;